/* You can add custom CSS and extend Boostrap styles in this file.  Remember, Bootstrap is just CSS at the end of the day! */
html {
  scroll-behavior: smooth;
}

body{
  background-color: #6C757D;
}

.navbar-nav{
  margin-left: auto;
}

a{
  font-family: 'Roboto Slab', serif;
  letter-spacing: 1px;
}

.parallax{
  text-align: center;
  background-image: url("assets/HeroImage.jpg");
  top: 0px;
  height: 80vh; 
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  border-bottom: 3px solid black;
  border-top: 3px solid black;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 40vh;
  background-color: rgba(0,0,0,0.6);
}

.profile-picture{
  position: relative;
  margin-top: 10vh;
  height: 35vmin;
  min-height: 75px;
  border: solid 10px rgba(0,0,0,0.5);
  border-radius: 100%;
}

.name{
  position: relative;
  font-family: 'Yeseva One', cursive;
  color: white;
  font-size: calc(15px + 8vmin);
}

.subtitle{
  position: relative;
  margin: 0;
  padding: 2vh;
  color: white;
  font-size: calc(10px + 4vmin);
  font-family: 'Arima Madurai', cursive;
  font-style: italic;
}

#mission-section{
  vertical-align: middle;
  background-color: #495057;
  width: 100%;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 70px;
}

.mission-title{
  font-family: 'Yeseva One', cursive;
  font-size: 8vmin;
  color: white;
  display: inline-block;
  letter-spacing: 2px;
  margin-bottom: 5vh;  
}

#MissionImage{
  height: 100%;
  max-height: 400px;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border: solid 2px black;
}

.MissionContent{
  margin-top: 5px;
  color: white;
  font-size: calc(8px + 2vmin);
  font-family: 'Roboto Slab', serif;
}

#skills-section{
  vertical-align: middle;
  background-color: #343A40;
  width: 100%;
  text-align: center;
  padding: 30px 0;
  
}

.skills-title{
  font-family: 'Yeseva One', cursive;
  font-size: 8vmin;
  color: white;
  display: inline-block;
  letter-spacing: 2px;
  margin-bottom: 5vh;  
}

.skills-image{
  margin: 10px;
  height: 30vmin;
  object-fit: cover;
  object-position: center;
}

.skills-content{
  color: white;
  font-size: calc(8px + 2vmin);
  font-family: 'Roboto Slab', serif;
  margin-bottom: 20px;
}

#inspiration-section{
  background-color: #495057;
  width: 100%;
  text-align: center;
  padding: 5vmin;
}

.inspiration-title{
  font-family: 'Yeseva One', cursive;
  font-size: 8vmin;
  color: white;
  display: inline-block;
  letter-spacing: 2px;
  margin-bottom: 5vh;
  
}

#carouselExampleCaptions{
  margin: auto;
  width: 50vw;
  min-width: 200px;
  margin-bottom: 10vh;
  border: solid 2px black;
}

#picture{
  margin: auto;
  width: 50vw;
  min-width: 200px;
}

.quote{
  font-size: 3vmin;
  font-family: 'Roboto Slab', serif;
}

.quotee{
  font-size: 4vmin;
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
}

#contact-section{
  position: relative;
  vertical-align: middle;
  background-color: #6C757D;
  width: 100%;
  text-align: center;
}

.contact-title{
  font-family: 'Yeseva One', cursive;
  font-size: 8vmin;
  color: white;
  display: inline-block;
  letter-spacing: 2px;
  margin-bottom: 5vh;  
  padding-top: 20px;
}

.icon{
  font-size: calc( 20px + 2vw);
  transition: 0.25s;
}

.icon:hover{
  color: #CED4DA;
}

.icon-contact{
  font-size: 20px;
  margin-bottom: 40px;
}

#footer-section{
  position: relative;
  vertical-align: middle;
  background-color: #212529;
  width: 100%;
  height:8vh;
  text-align: center;
}

.footer{
  position: relative;
  top: 8px;
  font-size: 4vh;
  color:#E9ECEF;
}